[{
    "Courant_01": {},
    "Courant_02": {},
    "Pr_face_01": {},
    "Pr_face_02": {},
    "Nom_de_l_auteur": { "role" : "Nom_de_l_auteur", "cut": true },
    "Courant_citations": { "role" : "blockquote" },
    "Titre": { "type": "title", "level": 1 },
    "Titre_02": { "type": "title", "level": 2 },
    "Titre_courant": { "delete": true },
    "intertitre": { "type": "title", "level": 2 },
    "Italique": { "type" : "emphasis", "role": "italics" },
    "exposant": { "type": "superscript" },
    "Appels_de_notes": { "unwrap": true },
    "Note_de_bas_de_pages": {},
    "Num_rotation_notes": { "delete": true }
}]